* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-weight: 300;
  overflow-x: hidden;
  width: 100%;
}

header {
  margin: 40px 40px 120px;
}

header h1 {
  font-weight: 300;
  font-size: 42px;
}

header p {
  font-size: 18px;
}

div {
  margin: 0 40px 100px;
}

div h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 20px;
}

section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

section article {
  width: 300px;
  aspect-ratio: 3/4;
}

section article .canvas {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

section article .canvas.code {
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

section article h3 {
  height: 10%;
  padding: 10px 0;
  font-weight: 300;
  font-size: 16px;
}

svg {
  background-color: #000;
}
